:root {
  --white: #fff;
  --white-transparent: #d7ccc0;
  --accent: #fe8a02;
  --dark-accent: #42413c;
  --dark: #2a2626;
  --dark-transparent: #908d8b;
  --brown: #b09a81;
  --text-color: #2a2626;
  --light: #f5f4f0;
  --blue: #1085c5;
  --shadow: drop-shadow(0 16px 32px rgba(0, 0, 0, 15%));
}

/* ::input-placeholder {color:#757575; font-size: 13px; opacity: .2;}
::-moz-placeholder          {color:#757575; font-size: 13px; opacity: .2;}
:-moz-placeholder           {color:#757575; font-size: 13px; opacity: .2;}
:-ms-input-placeholder      {color:#757575; font-size: 13px; opacity: .2;} */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--text-color);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.no-pe::before {
  content: "" !important;
  background: none !important;
}

.bg-white {
  background: var(--white) !important;
}

.bg-dark {
  background: var(--dark-accent) !important;
}

.bg-brown {
  background: var(--brown) !important;
}

.text-center {
  text-align: center;
}

.text-accent {
  color: var(--accent);
}

.b-center {
  margin: 0 auto;
}

.h1,
.h2,
.h3 {
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.h1 {
  font-size: 72px;
}

.h2 {
  font-size: 60px;
}

.h3 {
  font-size: 34px;
}

.h4 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 0 5px 10px;
}

.btn {
  text-transform: uppercase;
  padding: 12px 24px;
  display: inline-block;
  border: none;
  text-decoration: none;
  color: var(--white);
  font-weight: 700;
  cursor: pointer;
}

.btn-accent {
  background: var(--accent);
}

.section {
  position: relative;
  padding: 100px 0;
  background: var(--light);
}

.section::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.container {
  position: relative;
  max-width: 1110px;
  margin: 0 auto;
}

.flex-col-2 {
  display: flex;
  gap: 30px;
}

.flex-col-2 > * {
  flex-basis: 50%;
}

.header-img {
  display: block;
  height: 525px;
  position: absolute;
  top: 55px;
  right: -115px;
}

.header-text {
  margin-top: 185px;
  position: relative;
}

.header-btn {
  margin-top: 24px;
}

.deformation-p {
  margin: 30px 0;
}

.deformation-container {
  margin-bottom: -200px;
  position: relative;
  z-index: 1;
}

.deformation-video {
  filter: var(--shadow);
}

.navigation {
  padding-top: 200px;
}

.navigation-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 15px 30px;
}

.navigation-title {
  font-size: 52px;
  font-family: Neucha, sans-serif;
  line-height: 62.4px;
  color: var(--white);
}

.navigation-link {
  padding: 24px;
  text-decoration: none;
  color: var(--text-color);
  background: var(--light);
  display: flex;
  flex-direction: column;
}

.navigation-link-number {
  font-size: 64px;
  display: inline-block;
  margin-bottom: 40px;
  font-family: Neucha, sans-serif;
  line-height: 1;
}

.navigation-link-title {
  margin-bottom: 16px;
  color: var(--accent);
}

.ikea-text span,
.premature-text span,
.distortion-text span,
.hyperbolic-text span,
.errors-text span {
  font-family: Neucha, sans-serif;
  font-size: 24px;
  color: var(--dark-transparent);
}

.premature-text span,
.hyperbolic-text span {
  color: var(--white-transparent);
}

.ikea-text p,
.premature-text p,
.distortion-text p,
.hyperbolic-text p,
.errors-text p {
  font-size: 34px;
  font-family: Neucha, sans-serif;
  line-height: 40.8px;
  margin-top: 30px;
}

.ikea-img img,
.premature-img img,
.distortion-img img,
.hyperbolic-img img,
.errors-img img {
  vertical-align: middle;
  display: inline-block;
  filter: var(--shadow);
}

.ikea-h4,
.distortion-h4,
.errors-h4 {
  margin-top: 100px;
  margin-bottom: 20px;
  color: var(--white);
  background: var(--brown);
}

.premature,
.hyperbolic {
  color: var(--white);
}

.premature-h4,
.hyperbolic-h4 {
  color: var(--brown);
  background: var(--white);
  margin-top: 100px;
  margin-bottom: 20px;
}

.footer .h3 {
  color: var(--white);
}

.footer-top {
  background: var(--dark-accent);
  padding: 40px 55px;
  align-items: center;
  color: var(--white);
}

.footer-top-mail {
  font-size: 18px;
  margin: 0 0 10px;
}

.footer-form {
  min-height: 50px;
  display: flex;
}

.footer-form input {
  background: var(--white);
  border: none;
  flex-basis: 100%;
  padding: 15px;
}

.footer-form-btn {
  position: relative;
  flex-basis: 70px;
  flex-shrink: 0;
  border: none;
  background: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.footer-form-btn::before {
  content: url("../img/send.svg");
  width: 24px;
  height: 24px;
}

.footer-top-rules {
  font-size: 12px;
  margin: 0;
}

.footer-top-rules a {
  color: var(--white);
}

.footer-copyright {
  text-align: center;
  font-size: 14px;
  margin-top: 76px;
}

.footer-copyright a {
  color: #007dc1;
}
