:root {
  --white: #fff;
  --white-transparent: #d7ccc0;
  --accent: #fe8a02;
  --dark-accent: #42413c;
  --dark: #2a2626;
  --dark-transparent: #908d8b;
  --brown: #b09a81;
  --text-color: #2A2626;
  --light: #f5f4f0;
  --blue: #1085c5;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--text-color);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.no-pe::before {
  content: '' !important;
  background: none !important;
}

.bg-white {
  background: var(--white) !important;
}

.bg-dark {
  background: var(--dark-accent) !important;
}

.text-center {
  text-align: center;
}

.text-accent {
  color: var(--accent);
}

.b-center {
  margin: 0 auto;
}

.h1, .h2, .h3 {
  font-family: 'Neucha', sans-serif;
  line-height: 1.2em;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.h1 {
  font-size: 72px;
}

.h2 {
  font-size: 60px;
}

.h3 {
  font-size: 34px;
}

.btn {
  text-transform: uppercase;
  padding: 12px 24px;
  display: inline-block;
  border: none;
  text-decoration: none;
  color: var(--white);
  font-weight: 700;
  cursor: pointer;
}

.btn-accent {
  background: var(--accent);
}

.section {
  position: relative;
  padding: 100px 0;
  background: var(--light);
}

.section::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .1;
}

.container {
  position: relative;
  max-width: 1110px;
  margin: 0 auto;
}

.flex-col-2 {
  display: flex;
  gap: 30px;
}

.flex-col-2 > * {
  flex-basis: 50%;
}

.header-img {
  display: block;
  height: 525px;
  position: absolute;
  top: 55px;
  right: -270px;
}

.header-text {
  margin-top: 185px;
  position: relative;
}

.header-btn {
  margin-top: 24px;
}

.deformation-p {
  margin-bottom: 30px;
}

.deformation-container {
  margin-bottom: -200px;
  position: relative;
  z-index: 1;
}

.deformation-video {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.navigation {
  padding-top: 200px;
}

.navigation-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

.navigation-title {
  font-size: 52px;
  font-family: 'Neucha', sans-serif;
  line-height: 62.4px;
  color: var(--white);
}

.navigation-link {
  padding: 24px;
  text-decoration: none;
  color: var(--text-color);
  background: var(--light);
  display: flex;
  flex-direction: column;
}

.navigation-link-number {
  font-size: 64px;
  display: inline-block;
  margin-bottom: 40px;
  font-family: 'Neucha', sans-serif;
  line-height: 1;
}

.navigation-link-title {
  margin-bottom: 16px;
  color: var(--accent);
}


